<div class="pokerole-settings">
  <div class="form-group">
    <label>Burn Strength Reduction</label>
    <div class="form-fields">
      <input type="number" data-id="burnConst" value="{{burnSTR}}" min="0" max="3" step="1">
    </div>
    <p class="notes">Homebrew option to add Strength reduction to the Burn condition (Default: 0)</p>
  </div>
  <div class="form-group">
    <label>Frozen Special Reduction</label>
    <div class="form-fields">
      <input type="number" data-id="frozenConst" value="{{frozenSPE}}" min="0" max="3" step="1">
    </div>
    <p class="notes">Homebrew option to add Special reduction to the Frozen condition (Default: 0)</p>
  </div>
  <div class="form-group">
    <label>Paralysis Dexterity Reduction</label>
    <div class="form-fields">
      <input type="number" data-id="paralysisConst" value="{{paralysisDEX}}" min="0" max="3" step="1">
    </div>
    <p class="notes">Homebrew option to change the Dexterity reduction to the Paralysis condition (Default: 2)</p>
  </div>
</div>
